.calculator-wrapper {
    background-color: transparent;
    border: 1px solid rgba(23, 17, 17, 0.499);
    border-radius:20px 20px 20px 20px;
    width: 500px;
    height: 680px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(0,0,0,0.5);
}
